PORT = 8000
MONGODB_URI = mongodb+srv://<db_username>:<db_bhavya123>@cluster0.mba7vyh.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_STRING = 123
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = 123
REFRESH_TOKEN_EXPIRY = 10d